<% cache model do %>
  <% board = model.to_game_object unless local_assigns.key?(:board) %>

  <%= turbo_frame_tag model do %>
    <% if model.win? %>
      <p class="text-green-600 text-2xl"> You have won! :) The humanity thrives over Mines! </p>
      <p>(refresh the page to play in the next game)</p>
    <% elsif model.lose? %>
      <p class="text-red-600 text-2xl"> You have lost! :( The artifical but not intelligent mines have prevailed.</p>
      <p>(refresh the page to play in the next game)</p>
    <% end %>

    <table class="board mx-auto my-4">
      <% board.height.times do |y| %>
        <tr>
          <% board.width.times do |x| %>
            <% cell = board.cell(Minesweeper::Coordinate.new(x, y)) %>
            <% if cell %>
              <td><%= cell_to_character(cell) %></td>
            <% else %>
              <td class="cell-hidden">
                <% if model.play? %>
                  <%= link_to("", reveal_path(model, x, y), data: {turbo_method: :post}) %>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
