<% @previous.each do |previous_match| %>
  <%= link_to "Previous round: #{previous_match.name}", previous_match, class: "text-indigo-600 font-bold text-xl m-4" %>
<% end %>

<div class="mt-6">
  <h2 class="font-bold text-2xl m-4">Current round: <%= @match.name %></h1>
  <%= render @match %>
</div>
