<h2 class="font-bold text-2xl m-4">My Games</h1>

<p class="my-4">
  <%= link_to "Create a new private game", new_game_path, class: "btn text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600" %>
</p>

<%= render "list", games: @games %>

