<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Create a new private game</h1>

  <%= render "form", game: @new_game %>

  <%= link_to "Back To My Games", my_games_path, class: "btn ml-2 bg-gray-100" %>
</div>
