<%= form_with url: rodauth.logout_path, method: :post, data: { turbo: false }, class: "w-full max-w-sm" do |form| %>
  <% if rodauth.features.include?(:active_sessions) %>
    <div class="mb-6 flex items-center space-x-2">
      <%= form.check_box rodauth.global_logout_param, id: "global-logout", class: "rounded ", include_hidden: false %>
      <%= form.label "global-logout", rodauth.global_logout_label, class: "text-sm" %>
    </div>
  <% end %>

  <%= form.submit rodauth.logout_button, class: "btn w-full bg-yellow-300 hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-300 " %>
<% end %>
